/* global style *
-------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
a{
    text-decoration: none;
}


/* main style 
----------------------------------------------------- */
.front-image{
    background-image: url(../images/home1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100%;
    color: whitesmoke;
    background-color: black;
}

#name{
    font-weight: 300;
    font-size: 100px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    margin-left: 15px;
    text-align: left;
    padding-bottom: 40px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#quote{
    font-size: 30px;
    font-weight: 200;
    text-align: right;
    float: right;
    padding-top: 60px;
    font-family: "Brush Script MT";
}

#author{
    text-align: right;
    font-weight: 150;
    font-size: 25px;
    padding: 50px;
    font-family:  "Brush Script MT";
}

