/* global style *
-------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
a{
    text-decoration: none;
}


/* main style 
----------------------------------------------------- */
.front-image{
    background-image: url(../images/home1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 500px;
    height: 200%;
    color: whitesmoke;
    background-color: black;
    padding : 20px;
    margin : 10px;
}

#name{
    font-size: 100px;
    font-weight: 350;
    text-align: left;
    font-family: Rye;
    padding : 10px;
    margin : 0;
}
p{
    margin-left: 15px;
    text-align: left;
    /* padding-bottom: 40px; */
    font-size: 25px;
    font-family: Satisfy;
}

h3{
    font-family: Sriracha;
    font-size : 30px;
}