body{
    background-color: #7be0b6;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    /* font-family: Charm */
}

p{
    font-size : 20px;
    text-align: justify;
    /* font-family: "Monotype Corsiva"; */
    font-family: Charm
    
}

article{
    font-size: 18px;
    text-align: justify;
    font-family: "calibri"
}

/* main
 ------------------------------------------------*/ 

 .project{
     background-color: #d1c008;
     padding: 10px;
     margin : 15px;
 }


 .top{
    padding: 10px;
    margin :0;
    background-color:#c2f043;
 }

 #head{
     border: 2px solid black;
 }

 hr{
     border : 2px dashed darkslateblue;
 }

 h3{
     font-size: 25px;
     /* font-family: "sans-serif"; */
    
 }

 h1{
    font-family: Kaushan Script;
 }
 
 #train{
    text-align: left;
 }

 #to-do{
    text-align: right;
 }

 #mit{
    text-align: left;
 }

 #movie{
    text-align: right;
 }