body{
    margin: 0;
    padding : 0;
    background-color: #ba7bed;
}

p{
    text-align: justify;
    font-size: 20px;
    font-family: Charm;
}

article{
    font-size: 25px;
    font-family: Satisfy;
}

hr{
    border: 1px dashed  black;
}

#btn{
    background-color: blue;
    padding: 5px;
    margin-top: 5px;
    border-radius : 4px;
    color : white
}

a{
    text-decoration: none;
}

/* main style 
----------------------------------------- */

.paper{
    padding : 5px;
    margin :15px;
    background-color:#dd7be0 ;
}

#paperone{
    float: right;
    padding: 5px;
    margin : 5px;
    height : 200px;
    width : 220px;
    border :2px solid rgb(247, 238, 238);
    background-color: lightcoral;

}

#papertwo{
    float: left;
    padding: 5px;
    margin : 5px;
    height : 200px;
    width : 220px;
    border :2px solid rgb(247, 238, 238);
    background-color: lightcoral;

}

#head{
    padding:10px;
    margin : 5px;
}